
%btn-base {
    display: inline-block;
    background-color: $color-primary;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darken($color-primary, 10%);
    }
}


%card-base {
    background-color: #fff;
    
    h4 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .btn-learn-more {
        
        @extend %btn-base;
    }
}


.btn-learn-more {
    @extend %btn-base;
}