.main-header {
    background-color: $color-bg-dark;
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 32px;
        color: #fff;
        font-weight: 700;
        margin: 0;
    }

    .main-nav ul {
        display: flex;
    }

    .main-nav li {
        margin-left: 25px;
    }

    .main-nav a {
        color: #ccc;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 5px;

        &.active,
        &:hover {
            color: #fff;
            border-bottom: 3px solid $color-primary;
        }
    }
}