
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: #777;
  background-color: #fff;
}

.menuBtn,
.closeMenu {
  display: none;
  font-size: 26px;
  cursor: pointer;
  user-select: none;
}


h1,
h2,
h3,
h4,
h5 {
  color: #333;
  margin-bottom: 15px;
  font-weight: 400;
}

p {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #f39c12;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}


.features .feature-card .btn-learn-more,
.btn-learn-more {
  display: inline-block;
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.features .feature-card .btn-learn-more:hover,
.btn-learn-more:hover {
  background-color: #da8c10;
}

.features .feature-card {
  background-color: #fff;
}

.features .feature-card h4 {
  font-size: 18px;
}

.features .feature-card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.mainheader {
  background-color: #343434;
  padding: 20px 0;
}

.mainheader .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainheader .logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}

.mainheader .main-nav ul {
  display: flex;
}

.mainheader .main-nav li {
  margin-left: 25px;
}

.mainheader .main-nav a {
  color: #ccc;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
}

.mainheader .main-nav a.active,
.mainheader .main-nav a:hover {
  color: #fff;
  border-bottom: 3px solid #f39c12;
}

.main-footer {
  background-color: #343434;
  color: #999;
  padding: 60px 0;
}

.main-footer .footer-grid {
  display: flex;
  gap: 40px;
}

.main-footer .footer-widget {
  flex: 1;
}

.main-footer .footer-widget h5 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-footer .footer-widget p {
  font-size: 14px;
}

.main-footer .footer-widget ul li {
  margin-bottom: 12px;
  font-size: 14px;
}

.main-footer .footer-widget ul li.post-date {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.main-footer .footer-widget .post-date {
  background-color: #444;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  line-height: 1.2;
  width: 40px;
}

.main-footer .footer-widget .post-info strong {
  color: #eee;
  display: block;
}

.main-footer .footer-widget .post-info p {
  font-size: 13px;
  margin: 0;
}

.main-footer .footer-widget a {
  color: #999;
}

.main-footer .footer-widget a:hover {
  color: #f39c12;
}

.hero {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.hero .container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero .hero-content {
  flex: 1;
}

.hero .hero-image {
  flex: 1;
  background-color: #333;
  height: 320px;
  border-radius: 8px;
}
.hero-image img{
  height: 320px;
  border-radius: 10px;
  
}

.features {
  padding: 60px 0;
}

.features h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: #333;
}

.features .features-grid {
  display: flex;
  gap: 30px;
}

.features .feature-card {
  flex: 1;
}

.feature-image-placeholder {
  height: 200px;
  align-items: center;
  text-align: center;
  background-color: #555;
  margin-bottom: 15px;
}
.feature-image-placeholder img{
  height: 200px;
  object-fit: cover;
  width: 346px;
}



@media (max-width: 768px) {


  .mainheader .main-nav {
    display: block;
    position: relative;
    width: 100%;
  }

  .mobile-nav {
    display: none;
    position: absolute;
    top: 40px;        
    left:0;
    width: 100%;
    background: #343434;
    padding: 20px 0;
    z-index: 9999;
  }

  .mobile-nav ul {
    display: flex;
    gap: 22px;
    align-items: center;
  }

  .mobile-nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .menuBtn {
    display: block;
    font-size: 26px;
    cursor: pointer;
    user-select: none;
  }


 .mainheader .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:600px;
}


  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  .hero .hero-image {
    height: 200px;
    width: 100%;
    margin-top: 30px;
  }

  .features .features-grid {
    flex-direction: column;
    gap: 40px;
  }

  /* --- Footer --- */
  .main-footer .footer-grid {
    flex-direction: column;
  }

  .main-footer .footer-widget {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .mainheader .container {
    flex-direction: column;
  }
 
 .mainheader .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:700px;
}


  .mainheader .logo {
    margin-bottom: 10px;
  }

  h1.logo {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .hero {
    padding: 40px 0;
  }
 
.mobile-nav {
  display: none;
  position: absolute;
  top: 70px;    
  left: 0;
  width: 100%;
  background: #343434;
  padding: 20px 0;
  z-index: 999;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;      
  align-items: center;
}

.mobile-nav ul li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

}
